pre {
    color:red;
}
.container {
    display: flex;
    justify-content: space-evenly;
    padding-right: 10%;
    background-color: black;

}

.orange {
    color: orange;
}
.yellow {
    color: yellow;
}
.green {
    color: green;
}
.blue {
    color: blue;
}